<h1>
    {{ message }}
</h1>
{{#if caV}}
<ul>
    <ol>First Name: {{getData.firstName}}</ol>
    <ol>Last Name: {{getData.lastName}}</ol>
    <ol>Username: {{getData.username}}</ol>
    <ol>Profession: {{getData.profession}}</ol>
    <ol>Bio: {{getData.bio}}</ol>
</ul>
{{/if}}
<footer>
    
   <a href='/logout'>Logout</a>

</footer>